
@{
    ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

@using (Html.BeginForm("GetBalance", "Account"))
{
    <center>
        <div class="row">
            <div>
                
                <div class="row">
                    <button type="submit" class="btn btn-danger" value="">Get Balance</button>
                </div>
            </div>
    </center>
}

