
@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>



    <div class="row">
        <div>
            <div class="row col-md-offset-1">
                <button type="button" class="btn btn-danger" value="Login" onclick="location.href=' @Url.Action("Login","Home")'">Login</button>
                <button type="button" class="btn btn-danger" value="NewAccount" onclick="location.href=' @Url.Action("NewAccount","Home")'">New Account</button>
</div>
            
    </div>
</>

